#id_navContainer {
    position: fixed;
    top: 0;
    /* background-color: #11191f; */
    background-color: black;
}
#id_mainContainer {
    margin-top: 85px;
}
#id_brand {
    font-size: 20px;
    font-family: 'Droid Sans Mono', sans-serif;
}
@media (min-width: 992px) {
    #id_brand {
        font-size: 30px;
    }
}
#id_brand span:nth-child(1) {
    color: #009900;
}
#id_brand span:nth-child(2) {
    color: yellow;
}
#id_brand span:nth-child(3) {
    color: #009900;
}
#id_brand span:nth-child(4) {
    color: #bb0000;
}
.toplevel-container {
    padding-top: 0;
    padding-left: 48px;
    padding-right: 48px;
}
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: 70px;
    grid-template-columns: auto 30%;
  }
}
#id_sidebar article {
    padding: 40px 40px 10px;
}
#id_sidebar article ul li {
    font-size: 16px;
}
#id_mainContent {
    padding-top: 20px;
}
ul.unstyled li {
    list-style: none;
}
ul.posts li.grid {
    grid-template-columns: 150px auto;
    grid-column-gap: 12px;
    margin: 0 0 8px;
}
ul.posts li.grid code {
    padding: 3px;
}
code.tags-list {
    background: none;
}
