.brand {
    font-family: 'Droid Sans Mono', sans-serif;
}
.nice-mono {
    font-family: 'Droid Sans Mono', sans-serif;
}
.cursor {
    color: black;
}
.cursor .inverted {
    color: white;
}
.clipboard {
    display:none;
}
ul.posts li {
    padding: 2px 0px;
}
span.tags-list {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 11px;
}
pre {
    width: 100%;
    overflow: auto;
}
ul.gray-list li a {
    display: block;
    background: #E5E5E5;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
ul.gray-list li:hover a {
    background: #EEE;
    text-decoration: none;
}
