/* add one more breakpoint to pico's .container */
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
    }
}
#id_navContainer {
    position: fixed;
    top: 0;
    /* background-color: #11191f; */
    background-color: black;
    z-index: 999;
}
#id_mainContainer {
    margin-top: 85px;
}

/* faux command prompt */
#id_brand {
    font-size: 20px;
    font-family: 'Droid Sans Mono', sans-serif;
}
#id_brand span:nth-child(5) {
    font-size: 15px;
    position: relative;
    bottom: 2px;
}
@media (min-width: 992px) {
    #id_brand {
        font-size: 30px;
    }
    #id_brand span:nth-child(5) {
        font-size: 25px;
    }
}
#id_brand span:nth-child(1) {
    color: #009900;
}
#id_brand span:nth-child(2) {
    color: yellow;
}
#id_brand span:nth-child(3) {
    color: #009900;
}
#id_brand span:nth-child(4) {
    color: #bb0000;
}
#id_brand span:nth-child(5) {
    color: transparent;
    margin-left: 5px;
}
/* based on https://codepen.io/ArtemGordinsky/pen/DgyQKy */
.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
}
#id_navContainer:hover .blinking-cursor {
    animation: 1.2s blink step-end infinite;
}
/* don't require hover for mobile */
@media (max-width: 767px) {
    #id_navContainer .blinking-cursor {
        animation: 1.2s blink step-end infinite;
    }
}
@keyframes "blink" {
    from, to {
        color: transparent;
    }
    40% {
        color: #c5c8c6;
    }
}

.toplevel-container {
    padding-top: 0;
    padding-left: 48px;
    padding-right: 48px;
}
@media (max-width: 767px) {
    .toplevel-container {
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: 70px;
    grid-template-columns: auto 30%;
  }
}
#id_sidebar article {
    padding: 40px 40px 10px;
}
#id_sidebar article ul li {
    font-size: 16px;
}
#id_mainContent {
    padding-top: 20px;
}
ul.unstyled li {
    list-style: none;
}
ul.posts li.grid {
    grid-template-columns: 150px auto;
    grid-column-gap: 12px;
    margin: 0 0 8px;
}
ul.posts li.grid code {
    padding: 3px;
}
@media (max-width: 767px) {
    ul.posts li.grid {
        grid-template-columns: 1fr;
    }
}
code.tags-list {
    background: none;
}
