---
layout: default
title: Home
---

<h2>Recent Posts</h2>
<ul class="unstyled posts">
  {% for post in site.posts limit:15 %}
  {% unless post.category %}
  <li>
    <div class="row">
      <div class="span2">
        <div class="label pull-right" style="width:80px;text-align:center;">{{ post.date | date_to_string }}</div>
      </div>
      <div class="span8">
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% unless post.tags == empty %}
        <span class="tags-list">
          <span> :: </span>
          {{ post.tags | join: ", " }}
        </span>
        {% endunless %}
      </div> <!-- span7 -->
    </div>   <!-- row -->
  </li>
  {% endunless %}
  {% endfor %}
  <li>
    <div class="row">
      <div class="span2">
        <div class="pull-right">
          <a href="/all.html">More...</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="span6 offset1">
          <a href="/atom.xml"><img src="/static/atom.png" style="position:relative; top:3px; right:3px;">Subscribe with Atom</a>
      </div>
    </div>
  </li>
</ul>

<h2>Projects</h2>
<ul class="unstyled posts">
  {% for post in site.posts %}
  {% if post.category == 'projects' %}
  <li>
    <div class="row">
      <div class="span2">
        <div class="label pull-right" style="width:80px;text-align:center;">{{ post.date | date_to_string }}</div>
      </div>
      <div class="span8">
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% unless post.tags == empty %}
        <span class="tags-list">
          <span> :: </span>
          {{ post.tags | join: ", " }}
        </span>
        {% endunless %}
      </div> <!-- span8 -->
    </div>   <!-- row -->
  </li>
  {% endif %}
  {% endfor %}
</ul>

