---
layout: default
title: Home
---

<h3>Projects</h3>
<ul class="unstyled posts">
  {% for post in site.posts %}
  {% if post.category == 'projects' %}
  <li>
    <span class="label">{{ post.date | date_to_string }}</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% unless post.tags == empty %}
    <span class="tags-list">
      <span> :: </span>
      {{ post.tags | join: ", " }}
    </span>
    {% endunless %}
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Posts</h3>
<ul class="unstyled posts">
  {% for post in site.posts %}
  {% unless post.category %}
  <li>
    <span class="label">{{ post.date | date_to_string }}</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% unless post.tags == empty %}
    <span class="tags-list">
      <span> :: </span>
      {{ post.tags | join: ", " }}
    </span>
    {% endunless %}
  </li>
  {% endunless %}
  {% endfor %}
</ul>

