---
layout: default
title: Home
---

<h2>Recent Posts</h2>
<ul class="unstyled posts">
  {% for post in site.posts limit:15 %}
    {% unless post.category %}
      <li class="grid">
        <div>
          <code>{{ post.date | date_to_string }}</code>
        </div>
        <div>
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% unless post.tags == empty %}
            <code class="tags-list">
              <small>[{{ post.tags | join: ", " }}]</small>
            </code>
          {% endunless %}
        </div>
      </li>
    {% endunless %}
  {% endfor %}
  <li>
    <div class="row">
      <div class="span2">
        <div class="pull-right">
          <a href="/all.html">More...</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="span6 offset1">
        <a href="/atom.xml"><img src="/static/atom.png" style="position:relative; top:3px; right:3px;">Subscribe with Atom</a>
      </div>
    </div>
  </li>
</ul>

<h2>Projects</h2>
<ul class="unstyled posts">
  {% for post in site.posts %}
    {% if post.category == 'projects' %}
      <li class="grid">
        <div>
          <code>{{ post.date | date_to_string }}</code>
        </div>
        <div>
          <a href="{{ post.url }}">{{ post.title }}</a>
          {% unless post.tags == empty %}
            <code class="tags-list">
              <small>[{{ post.tags | join: ", " }}]</small>
            </code>
          {% endunless %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
