<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mitchel Humpherys :: {{ page.title }}</title>
    <meta name="description" content="Professional blog of a feaster software engineer">
    <meta name="author" content="Mitchel Humpherys">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">

    <style type="text/css">
     /* Override some defaults */
     body {
         padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
     }
     .container > footer p {
         text-align: center; /* center align it with the container */
     }

     /* The white background content wrapper */
     .content {
         background-color: #fff;
         padding: 20px;
         margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
         -webkit-border-radius: 0 0 6px 6px;
         -moz-border-radius: 0 0 6px 6px;
         border-radius: 0 0 6px 6px;
         -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         box-shadow: 0 1px 2px rgba(0,0,0,.15);
     }

     /* Page header tweaks */
     .page-header {
         background-color: #f5f5f5;
         padding: 20px 20px 10px;
         margin: -20px -20px 20px;
     }

     /* Give a quick and non-cross-browser friendly divider */
     .content .span4 {
         margin-left: 0;
         padding-left: 19px;
         border-left: 1px solid #eee;
     }

     .topbar .btn {
         border: 0;
     }

    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->

    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>

    <!-- analytics -->
    <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-30402416-1']);
     _gaq.push(['_trackPageview']);

     (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>

  </head>

  <body>

    <!-- github ribbon -->
    <!-- <a href="http://github.com/mgalgs"><img style="position: fixed; top: 40px; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a> -->
    <a href="https://github.com/mgalgs"><img style="position: fixed; top: 40px; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="row">
            <div class="span5">
              <a class="brand" href="/"><span style="color: #009900;">mgalgs</span><span style="color: yellow;">@</span><span style="color: #009900;">the-internet</span> <span style="color: #bb0000;">#</span> </a>
            </div>
            <!-- <ul class="nav"> -->
            <!--   <li class="active"><a href="/">Home</a></li> -->
            <!--   <li><a href="#about">About</a></li> -->
            <!--   <li><a href="#contact">Projects</a></li> -->
            <!-- </ul> -->
            <div class="span7 offset4" style="text-align:right;height:40px;">
              <a class="subbrand nice-mono" style="font-size:14px;padding-bottom:0px;" href="/">Mitchel Humpherys</a>
              <br/>
              <a class="subbrand nice-mono" style="font-size:9px;" href="http://careers.stackoverflow.com/mitch">aka Mitch Humpherys</a>
              <a class="subbrand nice-mono" style="font-size:9px;" href="https://plus.google.com/103598357691189342062/about">aka +Mitchel Humpherys</a>
              <a class="subbrand nice-mono" style="font-size:9px;" href="http://stackoverflow.com/users/209050/mgalgs">aka mgalgs</a>
              <a class="subbrand nice-mono" style="font-size:9px;" href="https://twitter.com/mgalgs">aka @mgalgs</a>
              <a class="subbrand nice-mono" style="font-size:9px;" href="/static/mah_resume.pdf">[resum&eacute;]</a>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div>   <!-- fill -->
    </div>     <!-- topbar -->

    <div class="container">

      <div class="content">

        {{ page.before_main }}

        <div class="row">
          <div class="span10">
            <div id="main-content">
              {{ content }}
            </div>
          </div>              <!-- span9 -->
          <!-- <div class="span1"><\!-- Nothing to see here. Move along. -\->&nbsp;</div> -->
          <div class="span5 offset1">

            <h5>My Stuff</h5>
            <ul class="unstyled gray-list">
              <li><a href="/static/mah_resume.pdf">Resum&eacute;</a></li>
              <li><a href="https://github.com/mgalgs">GitHub Profile</a></li>
              <li><a href="http://careers.stackoverflow.com/cv/publish/61463">Stack Overflow Careers Profile</a></li>
              <li><a href="http://stackoverflow.com/users/209050/mgalgs">Stack Overflow Profile</a></li>
              <li><a href="https://plus.google.com/u/0/103598357691189342062/about">G+ Profile</a></li>
              <li><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x4128D82BDF21F105">PGP Public Key</a></li>
            </ul>

            <h5>My Projects</h5>
            <ul class="unstyled gray-list">
              {% for post in site.posts %}
                {% if post.category == 'projects' %}
                  <li>
                    <a href="{{ post.url }}">
                      {{ post.title }}
                      {% unless post.tags == empty %}
                        <span class="tags-list">
                          [{{ post.tags | join: ", " }}]
                        </span>
                      {% endunless %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            <h5>Open Source</h5>
            <ul class="unstyled gray-list">
              <li>
                <strong>My day job</strong>:

                <small>
                  Linux Kernel development
                  for <a href="http://www.quicinc.com/">QuIC</a>. Some of
                  my work (a little stale) is available on the Code Aurora
                  Forum, <a href="https://www.codeaurora.org/cgit/quic/la/kernel/msm-3.14/log/?h=msm-3.14&qt=author&q=mitchelh">here</a>, <a href="https://www.codeaurora.org/cgit/quic/la/platform/vendor/qcom-opensource/kernel/kernel-tests/log/?qt=author&q=mitchelh&h=master">here</a>, <a href="https://www.codeaurora.org/cgit/quic/la/platform/vendor/qcom-opensource/tools/log/?qt=author&q=mitchelh&h=master">here</a>, and <a href="https://www.codeaurora.org/cgit/quic/la/kernel/msm-3.10/log/?h=msm-3.10&qt=author&q=mitchelh">here</a>.
                </small>
              </li>
              <li>
                <strong>My nerd hobby</strong>:

                <small>
                  Creating and contributing to a variety of Open
                  Source projects. See
                  my <a href="https://github.com/mgalgs">GitHub
                  profile</a>.
                </small>
              </li>
            </ul>

            <h5>Other</h5>
            <ul class="unstyled gray-list">
              <li>
                <small>
                  Some of <a href="https://soundcloud.com/mgalgs">my
                  original music</a> on SoundCloud.
                </small>
              </li>
              <li>
                <small>
                  I'm a <a href="http://training.linuxfoundation.org/certification/lfcs">Linux Foundation Certified System Administrator</a>.
                </small>
              </li>
            </ul>

            <a href="http://training.linuxfoundation.org/certification/lfcs">
              <img src="/images/logo_lftcert_sysadmin.png"
                   style="width: 100px;">
            </a>

            <br>
            <br>

            <h5>Recent Posts</h5>
            <p style="position:relative; left:5px;">
              <a href="/atom.xml"><img src="/static/atom.png" style="position:relative; top:3px; right:3px;">Subscribe with Atom</a>
            </p>
            <ul class="unstyled gray-list">
              {% for post in site.posts limit:5 %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div> <!-- /row -->
        <div class="row">
          <div class="span14">

            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
              <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e9e62351e464962"></script>
            <!-- AddThis Button END -->

          </div>
        </div> <!-- row -->
      </div>

      <footer>
        <p>
          <a href="/sitemap.xml">Sitemap</a> |
          <a href="/atom.xml"><img src="/static/atom.png" style="position:relative; top:3px; right:3px;">Atom</a>
          <br>
          This site is built on
          <a href="http://pages.github.com/">GitHub Pages</a>
          using
          <a href="http://jekyllrb.com/">Jekyll</a>,
          <a href="https://github.com/shopify/liquid/wiki/liquid-for-designers">Liquid</a>,
          <a href="http://daringfireball.net/projects/markdown/">Markdown</a>,
          <a href="http://www.yaml.org/">YAML</a>,
          <a href="http://git-scm.com/">Git</a>,
          and (obviously)
          <a href="http://twitter.github.com/bootstrap/">Bootstrap CSS</a>.
          <br>
          &copy; Mitchel Humpherys, {{ site.time | date: '%Y' }}
        </p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
