---
layout: default
---
<hgroup>
  <h3>{{ page.title }}</h3>
  <h4>{{ page.date | date_to_string }}</h4>
</hgroup>
<hr>

{{ content }}

<hr>

<article data-theme="light">
  <h6>Comments</h6>
  <div id="disqus_thread"></div>
</article>
<script type="text/javascript">
var disqus_shortname = 'mgalgs';
var disqus_identifier = '{{ page.title }}';
var disqus_url = 'https://mgalgs.github.io/{{ page.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
